html{
	height:100%;
}

body{
	background-color: #1C2023;
	height:85%;
}

h1{
	color: #aaa9ab;
	padding:15px 0px;
}

h3{
	color:#4aaaa5;
}

h4{
	background-color: #4aaaa5;
	color: white;
	width:300px;
	height:70px;
	padding-top: 25px;
	text-align: center;
	font-size: 24px;
	position:relative;
	bottom:100px;

}

a{
	color:#aaa9ab;
	font-size: 18px;
	padding: 15px;
	/* position: absolute; */
}

a:hover{
	color: #FF4500;
}

p{
	margin:10px;
	font-size: 17px;
}

form{
	line-height: 35px;
}

input{
	width: 95%;
	height: 40px;
	padding: 5px;
	color:lightgray;
}

textarea{
	width: 95%;
	height: 200px;
}

.card{
 width: 400px;
}

.header{
	background-color: #15191C;
	padding: 0% 20%;
}

.header-center{
	text-align: center;
}

.main-nav{
	position:relative;
	top:32px;
}

.profile-img{
	margin-right: 15px;
	width: 200px;
	height: 200px;
}

.submit{
	width:auto;
	height:auto;
	padding:10px 35px;
	background-color: #4aaaa5;
	color: #ffffff;
	border: none;
	font-size: 18px;
}

@media screen and (max-width: 980px){

}



@media screen and (max-width: 767px){
		h1{
		width:100%;
		text-align: center
	}

	.main-nav{
		position:relative;
		top:32;
		height:45px;
	}
}

@media screen and (max-width: 640px){

}
